
<!DOCTYPE html>
<html>
  <head>
    <title>Welcome To  </title>
    <style>
      a.button {
        display: inline-block;
        text-decoration: none;
        color: #fff;
        background-color: #000;
        padding: 10px 20px;
        border-radius: 4px;
      }
    </style>
  </head>
  <body>
    <p>Hello,</p>
    <p>Your Organisation was onboarded over <a href="https://gmail.com"> </a> </p>
    {{!-- <p>Click the button below to log in:</p> --}}
    {{!-- <a href="{{magicLink}}" class="button">Log In</a> --}}
  </body>
</html>